.discount{
    /*width: 768px;
    height: 488px;*/
    top: 2563px;
    padding: 100px 16px 100px 16px;
    gap: 10px;
    
    margin: 0;
}
.discount-alt-1{

    background-image: url("image\ 4.png");
    border-radius: 13px 13px 13px 13px;
    width: 736px;
    height: 86px;
}
.discount-alt-uppercase{
    position:relative;
    top: 8;
    left: 16;

    font-family: Inter Tight;
    font-size: 64px;
    font-weight: 600;
    line-height: 70px;
    letter-spacing: -0.015em;
    text-align: left;
    text-transform: uppercase;
    color: #FBFBFB;
}
/*
.discount-alt-2{
    width: 704px;
    height: 280px;
    position: relative;
    left: 18px;
}
.discount-alt-text{
    font-family: Inter Tight;
    font-size: 64px;
    font-weight: 600;
    line-height: 70px;
    letter-spacing: -0.015em;
    text-align: left;
    text-transform: uppercase;
    margin-top: -8;
}*/